@import "tailwindcss";

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gabarito';
  src: url('/fonts/Gabarito.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HemiHead';
  src: url('/fonts/HemiHead.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}

:root {
  --background: #222222;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}
html, body {
  overscroll-behavior: none;
  height: 100%;
  /* overflow: hidden; */

}

body {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: DMSans;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  /* font-family: Gabarito; */
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* main {
  margin-top: 60px;
  margin-bottom: 60px;
} */